<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tatangit.adco">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Acount.Activity.Activity_Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"/>

        <activity
            android:name=".Views.Settings.Activity.Activity_Employee"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".Views.Settings.Activity.Activity_MyRetail"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".Views.Home.Activity.Activity_Casir"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".Views.Home.Activity.Activity_Store"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>


        <activity
            android:name=".Views.Home.Activity.Activity_Grafik"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".Views.Home.Activity.Activity_Report"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".Views.Home.Activity.Activity_Printer"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".Views.Home.Activity.Activity_Transaksi_Result"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

    </application>

</manifest>